body {
    background-color: #eee;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    color: #444;
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #36cca2;
    padding: 10px;
    border-radius: 10px;
}

form {
    max-width: 500px;
}

input,
textarea {
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-family: "Segoe UI";
}

textarea {
    min-height: 200px;
}

.post {
    padding: 16px;
    background: white;
    border-radius: 10px;
    margin: 20px 0;
}

.post h2 {
    margin: 0;
}

.post p {
    margin-top: 0;
}

.post a {
    color: #36cca2;
}
